.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.missionContainer {
  padding: 4rem 0;
  background-color: var(--ifm-color-emphasis-100);
}

.missionText {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.2rem;
  line-height: 1.6;
  color: var(--ifm-color-emphasis-800);
} 